
ul {
  margin: 0;
  padding: 2px;
  list-style-type: none;
  text-align: center;
}

li {
  margin: 5px;
  padding: 5px;  
}

button{
  border-radius: 10px;
  margin: 10px;
}
.center{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px; 
  padding: 20px;

}
.delete{
  margin-left: 100px;
  background-color:#d71e18;
  color: aliceblue;
  float: left;
}
.submit{
  width: 100px;
  height: 50px;
  color: aliceblue;
  background-color:  #3b5998 ;
}
